.landingPageContent {
   background-image:url(https://th.bing.com/th/id/R.4c36e08c14a7f1acc09d9bb5bf3fef8c?rik=4%2fO7XGMXmsaLfw&pid=ImgRaw&r=0);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.buttonStart {
   text-decoration: none;
   font-size: 20px;
   font-weight: 700; /* Utilizando el valor numérico para el grosor de la fuente */
   margin-top: 2rem;
   margin-left: 7rem;
   padding: 0.5rem 0.5rem; /* Ajuste en el espaciado interno */
   height: 40px;
   width: 110px;
   border-radius: 2rem;
   border: none;
   color: #ffffff;
   background-color: #D3C0A7; /* Gradiente en tonos beige */
   transition: background-color 0.5s ease, color 0.5s ease;
}

.buttonStart:hover {
   background-color: #F7EED6; /* Cambio de color al pasar el mouse */
   color: #000000; /* Cambio a color negro */
   cursor: pointer;
}

.titleContent {
   margin-top: 15rem;
   margin-left: 7rem;
   width: 25rem;
}

.h1Title {
   background-image: linear-gradient(
      to left,
      #000000,
      #260ac7,
      #a11616,
      #101669,
      #fff2f2
   );
   -webkit-background-clip: text;
   background-clip: text;
   animation: color 3s linear infinite;
   background-size: 500%;
   font-family: "Kalam", cursive;
   font-size: 4rem;
   line-height: 1;
   margin: 0; /* Evita el margen en el h1Title */
}
@keyframes color {
   from {
      background-position: 0% 50%;
   }

   to {
      background-position: 100% 50%;
   }
}
