.landing {
   background-image:url(https://th.bing.com/th/id/R.4c36e08c14a7f1acc09d9bb5bf3fef8c?rik=4%2fO7XGMXmsaLfw&pid=ImgRaw&r=0);
   background-size: cover;
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-position: center;
   width: 100vw;
   height: 100vh;
   overflow: hidden;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.button {
   text-decoration: none;
   font-size: 20px;
   font-weight: 700; 
   margin-top: 2rem;
   margin-left: 7rem;
   padding: 0.5rem 0.5rem; 
   height: 40px;
   width: 110px;
   border-radius: 2rem;
   border: none;
   color: #ffffff;
   background: linear-gradient(45deg, rgba(210, 180, 140, 0.7), rgba(0, 0, 0, 0.7));
}

.button:hover {
   background-color: #F7EED6; 
   color: #000000;
   cursor: pointer;
}

.titleContent {
   margin-top: 15rem;
   margin-left: 7rem;
   width: 25rem;
   align-items: center;
}

.h1Title {
   background-image: linear-gradient(45deg, #ffd700, #c0a34c); 
   background-clip: text;
   -webkit-background-clip: text;
   font-family: "Montserrat", sans-serif;
   color: transparent;
   font-size: 4rem;
   line-height: 1;
   margin: 0;
   text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); 
   display: flex; 
   align-items: center; 
}



