.back {
   background-image: url("https://th.bing.com/th/id/R.4c36e08c14a7f1acc09d9bb5bf3fef8c?rik=4%2fO7XGMXmsaLfw&pid=ImgRaw&r=0");
   background-size: cover;
   background-position: center;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }
 
 .titleCont {
   margin-bottom: 1rem;
   text-align: center;
 }
 
 .title {
   font-size: 2rem;
   color: white;
 }
 
 .h3 {
   margin: 0;
   background: linear-gradient(45deg, rgba(210, 180, 140, 0.7), rgba(0, 0, 0, 0.7));
   font-size: 1rem;
   font-weight: bold;
   color: white;
   border-radius: 1rem;
   padding: 0.5rem;
   width: fit-content;
   text-align: center;
 }
 
 .recipeDetail {
   display: flex;
   justify-content: space-between;
   align-items: flex-start;
   padding: 1.5rem;
 }
 
 .summaryCont {
   width: 90%;
   padding: 1rem;
   background-color: rgba(0, 0, 0, 0.7);
   border-radius: 1rem;
   margin-top: 1.1rem;
 }
 
 .summary {
   font-size: 0.8rem;
   color: white;
   text-shadow: -1px -1px black, 1px 1px #333;
 }
 
 .dietsCont {
   width: 90%;
   padding: 1rem;
   background-color: rgba(0, 0, 0, 0.7);
   border-radius: 1rem;
   margin-top: 10px;
 }
 
 .customList {
   list-style: none;
   padding: 0;
   margin: 0;
   font-size: 1.2rem;
   color: whitesmoke;
   text-shadow: -1px -1px black, 1px 1px #333;
 }
 
 .customList li {
   margin-bottom: 0.5rem;
 }
 
 .steps {
   width: 200%; /* Ajusta el ancho para que esté más centrado */
   margin: 20px; /* Centra horizontalmente */
   padding: 1rem;
   background-color: rgba(0, 0, 0, 0.7);
   border-radius: 1rem;
 }
 
 .customSteps {
   font-size: 1rem; /* Aumenta el tamaño del texto */
   color: whitesmoke;
   text-shadow: -1px -1px black, 1px 1px #333;
   padding: 1.5rem; /* Aumenta el espacio interno */
   background-color: rgba(0, 0, 0, 0.7);
   border-radius: 1rem;
   max-height: 30vh; /* Ajusta la altura máxima */
   overflow-y: auto;
 }
 
 
 .recipeImage {
   height: 30vh;
   width: 40vh;
   border-radius: 30px;
   margin-top: 1rem;
 }
 
 .goHomeImg {
   text-decoration: none;
   color: white;
 }
 
 .goback {
   font-size: 1.5rem;
   padding: 0.5rem 1rem;
   background-color: rgba(0, 0, 0, 0.7);
   border-radius: 1rem;
   cursor: pointer;
 }
 
 .goback:hover {
   background-color: rgba(0, 0, 0, 0.9);
 }
 
