.contentNavBar {
   display: flex;
   background: linear-gradient(45deg, rgba(210, 180, 140, 0.7), rgba(0, 0, 0, 0.7)); /* Degradado similar al estilo anterior */
   align-items: center;
   justify-content: space-between; /* Alinea los elementos en los extremos */
   height: 2rem;
   width: 100vw;
   padding: 1.2rem; /* Agrega un espaciado interno en los extremos */
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.5);
}


.navBar {
   display: flex;
   justify-content: flex-start; /* Alinea el contenido a la izquierda */
   align-items: center;
   width: 100%;
   padding: 10px; /* Añade un espaciado interno */
   margin-bottom: 15px;
   margin-right: -100rem;
}


.backtohome {
   display: inline-block;
   transform: scale(2); /* Aumenta el tamaño en un 100% */
   transition: transform 0.3s, color 0.3s; /* Agrega una transición suave para transform y color */
   padding: 15px;
   color: rgba(210, 180, 140, 0.7); /* Cambia el color */
}

.backtohome:hover {
   transform: scale(2.7); /* Aumenta un poco más el tamaño al hacer hover */
   color: rgba(0, 0, 0, 1); /* Cambia el color al hacer hover */
   text-shadow: 5px 5px 6px rgba(0, 0, 0, 0.5); /* Agrega una sombra al texto */
}


.NewRecipe {
   font-family: 'Montserrat', sans-serif; /* Cambio de fuente similar al estilo anterior */
   text-decoration: none;
   border-radius: 1rem;
   background: linear-gradient(45deg, rgba(210, 180, 140, 0.7), rgba(0, 0, 0, 0.7)); /* Degradado similar al estilo anterior */
   color: white;
   width: 12rem;
   height: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center; /* Centra el texto horizontalmente */
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
   transition: transform 0.2s;
   margin-left: 15px;
}

.NewRecipe:hover {
   transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
}


.goWelcome {
   font-family: 'Montserrat', sans-serif; /* Cambio de fuente similar al estilo anterior */
   text-decoration: none;
   border-radius: 1rem;
   background: linear-gradient(45deg, rgba(210, 180, 140, 0.7), rgba(0, 0, 0, 0.7)); /* Degradado similar al estilo anterior */
   color: white;
   width: 12rem;
   height: 2rem;
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center; /* Centra el texto horizontalmente */
   box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
   transition: transform 0.2s;
   margin-left: 15px;
}

.goWelcome:hover {
   transform: scale(1.05); /* Aumenta ligeramente el tamaño al hacer hover */
}
